In [ ]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
import pandas as pd
import pickle
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
import string
import re
import nltk
# load in all the modules we're going to need
import nltk,re,string,collections
import tensorflow as tf
from fuzzywuzzy import fuzz

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train=pd.read_csv('/content/drive//My Drive/Tweet Sentiment Extraction/train.csv')
test=pd.read_csv('/content/drive//My Drive/Tweet Sentiment Extraction/test.csv')

In [ ]:
train.head()

       textID  ... sentiment
0  cb774db0d1  ...   neutral
1  549e992a42  ...  negative
2  088c60f138  ...  negative
3  9642c003ef  ...  negative
4  358bd9e861  ...  negative

[5 rows x 4 columns]

In [ ]:
test.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

In [ ]:
print("train shape :",train.shape)
print("test shape :",test.shape)

train shape : (27481, 4)
test shape : (3534, 3)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27481 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27481 non-null  object
dtypes: object(4)
memory usage: 858.9+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   object
 2   sentiment  3534 non-null   object
dtypes: object(3)
memory usage: 83.0+ KB

In [ ]:
train.dropna(inplace=True)

In [ ]:
train.shape

(27480, 4)

In [ ]:
#https://www.analyticsvidhya.com/blog/2021/06/text-preprocessing-in-nlp-with-python-codes/
train['text']= train['text'].apply(lambda x: x.lower())
test['text']= test['text'].apply(lambda x: x.lower())
train['selected_text']= train['selected_text'].apply(lambda x: x.lower())

#https://stackoverflow.com/questions/11331982/how-to-remove-any-url-within-a-string-in-python
def remove_hyperlinks(text):
  hyperlinkfree=re.sub('https?://\S+|www\.\S+', '', text)
  return hyperlinkfree
#storing the puntuation free text
train['text']=train['text'].apply(lambda x:remove_hyperlinks(x))
test['text']=test['text'].apply(lambda x:remove_hyperlinks(x))
train['selected_text']=train['selected_text'].apply(lambda x:remove_hyperlinks(x))

#https://stackoverflow.com/questions/12851791/removing-numbers-from-string
#https://stackoverflow.com/questions/18082130/python-regex-to-remove-all-words-which-contains-number
def remove(text):
  text=re.sub('\S*\d\S*',' ',text) #Removing Numbers
  text=re.sub('<.*?>+',' ',text)   #Removing Angular Brackets
  text=re.sub('\[.*?\]',' ',text)  #Removing Square Brackets
  text=re.sub('\n',' ',text)       #Removing '\n' character 
  text=re.sub('\*+','<ABUSE>',text) #Replacing **** by ABUSE word

  return text
#storing the puntuation free text
train['text']=train['text'].apply(lambda x:remove(x))
test['text']=test['text'].apply(lambda x:remove(x))
train['selected_text']=train['selected_text'].apply(lambda x:remove(x))

#https://www.analyticsvidhya.com/blog/2021/06/text-preprocessing-in-nlp-with-python-codes/
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
train['text']=train['text'].apply(lambda x:remove_punctuation(x))
test['text']=test['text'].apply(lambda x:remove_punctuation(x))
train['selected_text']=train['selected_text'].apply(lambda x:remove_punctuation(x))

In [ ]:
train.head()

       textID  ... sentiment
0  cb774db0d1  ...   neutral
1  549e992a42  ...  negative
2  088c60f138  ...  negative
3  9642c003ef  ...  negative
4  358bd9e861  ...  negative

[5 rows x 4 columns]

In [ ]:
test.head()

       textID                                               text sentiment
0  f87dea47db                          last session of the day     neutral
1  96d74cb729   shanghai is also really exciting precisely  s...  positive
2  eee518ae67  recession hit veronique branquinho she has to ...  negative
3  01082688c6                                         happy bday  positive
4  33987a8ee5                                          i like it  positive

In [ ]:
train[train["text"]==' ']

           textID text                 selected_text sentiment
1319   bc84f21e3b       shoesshoesshoesyayyayyayloli  positive
24926  0872ed0f00                                      neutral

In [ ]:
train[train["selected_text"]==' ']

           textID  ... sentiment
9533   c6149b7abf  ...  positive
10997  6d85945e2c  ...  negative
13728  c7b78c1b26  ...  positive
24348  a21d9c38a8  ...  positive
25455  b6bf74a5c8  ...  positive
25637  370880f242  ...  negative

[6 rows x 4 columns]

In [ ]:
test[test["text"]==' ']

Empty DataFrame
Columns: [textID, text, sentiment]
Index: []

In [ ]:
 train.drop(train[train["text"]==' '].index,inplace=True)

In [ ]:
 train.drop(train[train["selected_text"]==' '].index,inplace=True)

In [ ]:
train.head()

       textID  ... sentiment
0  cb774db0d1  ...   neutral
1  549e992a42  ...  negative
2  088c60f138  ...  negative
3  9642c003ef  ...  negative
4  358bd9e861  ...  negative

[5 rows x 4 columns]

In [ ]:
def wrong_words(text,selected):
  words=[]
  text=text.split()
  selected=selected.split()
  for i in selected:
    if i not in text:
      words.append(i)
  if len(words)>0:
    return " ".join(words)
  else:
    return '++++'

In [ ]:
train['spelling']=train.apply(lambda x: wrong_words(x.text,x.selected_text),axis=1)

In [ ]:
train[train['spelling'].apply(lambda x: len(x))==1]

           textID  ... spelling
49     3fcea4debc  ...        d
66     95e12b1cb1  ...        s
129    94f67cfa6d  ...        y
134    6903cb08f2  ...        e
166    c78bf59e67  ...        p
...           ...  ...      ...
27153  a044ed928d  ...        y
27240  40143b692e  ...        e
27426  132e051fe8  ...        m
27470  778184dff1  ...        t
27476  4eac33d1c0  ...        d

[680 rows x 5 columns]

In [ ]:
def remove_text(x):
  selected=x[0]
  spelling=x[1]
  selected=selected.split()
  selected.remove(spelling) #https://www.geeksforgeeks.org/python-list-remove/
  return " ".join(selected)

In [ ]:
train['selected_text']=train[['selected_text','spelling']].apply(lambda x: remove_text(x) if len(x['spelling'])==1  else x['selected_text'],axis=1)

In [ ]:
train['spelling']=train.apply(lambda x: wrong_words(x.text,x.selected_text),axis=1)

In [ ]:
train[train['spelling'].apply(lambda x: len(x))==1]

Empty DataFrame
Columns: [textID, text, selected_text, sentiment, spelling]
Index: []

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='neutral')]

           textID  ...     spelling
92     a3de81e1ba  ...      twitter
251    77ba0fee75  ...    g followe
366    b751f39570  ...           ha
581    1fce3e2d7b  ...  soproudofyo
637    b04bbb81c9  ...        artis
...           ...  ...          ...
26870  ff77427519  ...           pe
26882  336b9cfc93  ...          dxd
27067  c2dfc5875c  ...         amie
27111  44cf670176  ...        india
27349  f60f20ed09  ...           lo

[149 rows x 5 columns]

In [ ]:
train['selected_text']=train.apply(lambda x: x['text']
                            if ( (x['spelling']!='++++') & (x['sentiment']=='neutral') ) else x['selected_text'],axis=1)

In [ ]:
train['spelling']=train.apply(lambda x: wrong_words(x.text,x.selected_text),axis=1)

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='neutral')].head()

Empty DataFrame
Columns: [textID, text, selected_text, sentiment, spelling]
Index: []

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='positive')]

           textID  ...           spelling
39     2863f435bd  ...                 fo
149    11c10e3fc5  ...          endearing
168    e56eeb4968  ...              great
240    7df7221145  ...              there
309    a54d3c2825  ...            as wort
...           ...  ...                ...
27339  27829d441f  ...                fun
27376  13fbc75291  ...              happy
27386  e149ebd3a1  ...       ch appreciat
27401  261e064dd4  ...  ja enjoyyitverymu
27474  8f14bb2715  ...                 ab

[547 rows x 5 columns]

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='negative')]

           textID  ...  spelling
18     af3fed7fc3  ...      onna
27     bdc32ea43c  ...        no
32     1c31703aef  ...    minute
48     3d9d4b0b55  ...        go
60     52483f7da8  ...    sleepy
...           ...  ...       ...
27209  30a1e8c2b4  ...  es faile
27280  e77145c41c  ...     eithe
27302  90c8aa60db  ...        wr
27362  7b82d63ee4  ...    c sorr
27456  d32efe060f  ...        al

[520 rows x 5 columns]

# **FuzzyWuzzy Python library**

* Using fuzzywuzzy library where we can have a score out of 100, that denotes two string are equal by giving similarity index.

* https://www.geeksforgeeks.org/fuzzywuzzy-python-library/

In [ ]:
fuzz.ratio('geeksforgeeks','geeksgeeks')

87

In [ ]:
fuzz.ratio('GeeksforGeeks','GeeksforGeeks')

100

In [ ]:
def matching(x):
  text=x[0]
  selected=x[1]
  spelling=x[2]
  text=text.split()
  selected=selected.split()
  spelling=spelling.split()
  for s in spelling:
    for t in text:
      if s in selected:
        if(fuzz.ratio(t,s)>55): 
          index=selected.index(s)
          selected[index]=t
  return " ".join(selected)

In [ ]:
train['selected_text']=train[['text','selected_text','spelling']].apply(lambda x: matching(x) if x['spelling']!='++++'  else x['selected_text'],axis=1)

In [ ]:
train['spelling']=train.apply(lambda x: wrong_words(x.text,x.selected_text),axis=1)

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='positive')]

           textID  ... spelling
349    322b61740c  ...  perfect
362    b94aaf845e  ...       re
1077   3d5c1ed21b  ...        o
1363   4eec486ad7  ...        y
1447   2b6bd43b14  ...        l
...           ...  ...      ...
24169  cc58093a1b  ...       sh
24594  fcb4695f92  ...      mim
25059  43c9e2ebbf  ...        h
25908  fdd49e735a  ...       tw
26883  ee30bf8953  ...      yay

[90 rows x 5 columns]

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='negative')]

           textID  ... spelling
27     bdc32ea43c  ...       no
223    242d92151a  ...     bike
569    03f9f6f798  ...    lifeu
604    15f47296e2  ...       im
863    19d585c61b  ...       ba
...           ...  ...      ...
26248  7d4f718542  ...      the
27209  30a1e8c2b4  ...       es
27302  90c8aa60db  ...       wr
27362  7b82d63ee4  ...        c
27456  d32efe060f  ...       al

[93 rows x 5 columns]

In [ ]:
train[train['spelling'].apply(lambda x: len(x))==1]

           textID  ... spelling
1077   3d5c1ed21b  ...        o
1363   4eec486ad7  ...        y
1447   2b6bd43b14  ...        l
3720   4034294a60  ...        l
4764   43e6d9aeaa  ...        g
6939   a50c8dc573  ...        s
6948   7b25c09b0f  ...        y
9063   3e775363a1  ...        m
9539   825b22b853  ...        l
11431  e158424933  ...        u
13445  af0ac6b470  ...        h
14571  7abcaab000  ...        k
17627  e040d9f166  ...        u
21495  0d0959690c  ...        h
22928  3c68f6963c  ...        r
23415  0dac65e546  ...        a
24002  c62590abcd  ...        y
25059  43c9e2ebbf  ...        h
26241  2dff366260  ...        i
27362  7b82d63ee4  ...        c

[20 rows x 5 columns]

In [ ]:
train['selected_text']=train[['selected_text','spelling']].apply(lambda x: remove_text(x) if len(x['spelling'])==1  else x['selected_text'],axis=1)

In [ ]:
train['spelling']=train.apply(lambda x: wrong_words(x.text,x.selected_text),axis=1)

In [ ]:
train[train['spelling'].apply(lambda x: len(x))==1]

Empty DataFrame
Columns: [textID, text, selected_text, sentiment, spelling]
Index: []

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='positive')]

           textID  ...      spelling
349    322b61740c  ...       perfect
362    b94aaf845e  ...            re
1531   a0ee798944  ...            we
1580   8a159382ea  ...            mo
1588   a7f72a928a  ...  lovelovelove
...           ...  ...           ...
24123  4591bce14e  ...     goodnight
24169  cc58093a1b  ...            sh
24594  fcb4695f92  ...           mim
25908  fdd49e735a  ...            tw
26883  ee30bf8953  ...           yay

[78 rows x 5 columns]

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='negative')]

           textID  ... spelling
27     bdc32ea43c  ...       no
223    242d92151a  ...     bike
569    03f9f6f798  ...    lifeu
604    15f47296e2  ...       im
863    19d585c61b  ...       ba
...           ...  ...      ...
26088  69a24b165f  ...     poor
26248  7d4f718542  ...      the
27209  30a1e8c2b4  ...       es
27302  90c8aa60db  ...       wr
27456  d32efe060f  ...       al

[85 rows x 5 columns]

In [ ]:
def matching(x):
  text=x[0]
  selected=x[1]
  spelling=x[2]
  text=text.split()
  selected=selected.split()
  spelling=spelling.split()
  for s in spelling:
    for t in text:
      if s in selected:
        if(fuzz.ratio(t,s)>35):
          index=selected.index(s)
          selected[index]=t
  return " ".join(selected)

In [ ]:
train['selected_text']=train[['text','selected_text','spelling']].apply(lambda x: matching(x) if x['spelling']!='++++'  else x['selected_text'],axis=1)

In [ ]:
train['spelling']=train.apply(lambda x: wrong_words(x.text,x.selected_text),axis=1)

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='positive')]

           textID  ...      spelling
1588   a7f72a928a  ...  lovelovelove
7410   3463ecdfd6  ...         great
10521  f29edbc282  ...         enjoy

[3 rows x 5 columns]

In [ ]:
train.loc[7410].text

'imintheroom imwatchingthehannahmoviewithmomshesaidthisfilmverygreat'

In [ ]:
train.loc[7410].text='im in the room im watching the hannah movie with mom she said this film very great'

In [ ]:
train.loc[1588].text

' woooooooooo   are you coming to nottingham at any point   '

In [ ]:
train.loc[1588].selected_text='woooooooooo'

In [ ]:
train.loc[10521].text

'   dora the explorer  greetings to your niece'

In [ ]:
train.loc[10521].selected_text='greetings'

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='negative')]

           textID  ...   spelling
2398   983dfecd25  ...          r
6113   2cb67e64b4  ...        aam
9817   3358792fc9  ...        not
13637  d83fd6c942  ...         kk
14839  b19376c3bd  ...        was
16201  e78c1ad3f5  ...  lammmeeee
25293  2fdbe40c03  ...         im

[7 rows x 5 columns]

In [ ]:
train.loc[2398].text

'gonna do laundrynever did laundry  a hotel beforei miss you reven though you ignore me and don even check on me'

In [ ]:
train.loc[2398].selected_text='did miss you'

In [ ]:
train.loc[6113].text

'   these dogs are going to die if somebody doesnt save them'

In [ ]:
train.loc[6113].selected_text='these dogs are going to die if somebody doesnt save them'

In [ ]:
train.loc[9817].text

' following   and followers   nice'

In [ ]:
train.loc[9817].text='following and followers not nice'

In [ ]:
train.loc[13637].text

'  tweeets     fgs tweekdeckkk hates me  cryyyy'

In [ ]:
train.loc[13637].selected_text='hates me  cryyyy'

In [ ]:
train.loc[14839].text

'just got back fromahem   boring but had to eat nonetheless'

In [ ]:
train.loc[14839].selected_text='boring but had to eat nonetheless'

In [ ]:
train.loc[16201].text

'off to work off at  '

In [ ]:
train.loc[16201].selected_text='off to work'

In [ ]:
train.loc[25293].text

'grreverytime he gets a new girlfriendim at the bottom of the totem pole'

In [ ]:
train.loc[25293].selected_text='at the bottom of the totem pole'

In [ ]:
train['spelling']=train.apply(lambda x: wrong_words(x.text,x.selected_text),axis=1)

In [ ]:
train[train['spelling'].apply(lambda x: len(x))==1]

Empty DataFrame
Columns: [textID, text, selected_text, sentiment, spelling]
Index: []

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='positive')]

Empty DataFrame
Columns: [textID, text, selected_text, sentiment, spelling]
Index: []

In [ ]:
train.loc[(train['spelling']!='++++') & (train['sentiment']=='negative')]

Empty DataFrame
Columns: [textID, text, selected_text, sentiment, spelling]
Index: []

In [ ]:
train.reset_index(inplace=True)

In [ ]:
train.drop(['index'],inplace=True,axis=1)

In [ ]:
train

           textID  ... spelling
0      cb774db0d1  ...     ++++
1      549e992a42  ...     ++++
2      088c60f138  ...     ++++
3      9642c003ef  ...     ++++
4      358bd9e861  ...     ++++
...           ...  ...      ...
27467  4eac33d1c0  ...     ++++
27468  4f4c4fc327  ...     ++++
27469  f67aae2310  ...     ++++
27470  ed167662a5  ...     ++++
27471  6f7127d9d7  ...     ++++

[27472 rows x 5 columns]

In [ ]:
train.loc[8727]

textID                                                  12f21c8f19
text              star wars  is ABUSE boo i wanna do your job h...
selected_text
sentiment                                                 positive
spelling                                                      ++++
Name: 8727, dtype: object

In [ ]:
train.loc[25996]

textID           0b3fe0ca78
text
selected_text
sentiment           neutral
spelling               ++++
Name: 25996, dtype: object

In [ ]:
train.drop(8727,inplace=True)

In [ ]:
train.drop(25996,inplace=True)

In [ ]:
train.reset_index(inplace=True)

In [ ]:
train

       index      textID  ... sentiment spelling
0          0  cb774db0d1  ...   neutral     ++++
1          1  549e992a42  ...  negative     ++++
2          2  088c60f138  ...  negative     ++++
3          3  9642c003ef  ...  negative     ++++
4          4  358bd9e861  ...  negative     ++++
...      ...         ...  ...       ...      ...
27465  27467  4eac33d1c0  ...  negative     ++++
27466  27468  4f4c4fc327  ...  negative     ++++
27467  27469  f67aae2310  ...  positive     ++++
27468  27470  ed167662a5  ...  positive     ++++
27469  27471  6f7127d9d7  ...   neutral     ++++

[27470 rows x 6 columns]

In [ ]:
train.drop(['index'],inplace=True,axis=1)

In [ ]:
train

           textID  ... spelling
0      cb774db0d1  ...     ++++
1      549e992a42  ...     ++++
2      088c60f138  ...     ++++
3      9642c003ef  ...     ++++
4      358bd9e861  ...     ++++
...           ...  ...      ...
27465  4eac33d1c0  ...     ++++
27466  4f4c4fc327  ...     ++++
27467  f67aae2310  ...     ++++
27468  ed167662a5  ...     ++++
27469  6f7127d9d7  ...     ++++

[27470 rows x 5 columns]

In [ ]:
with open('/content/drive//My Drive/Tweet Sentiment Extraction/preprocessed_train.pkl','wb') as f:
     pickle.dump(train,f)

In [ ]:
with open('/content/drive//My Drive/Tweet Sentiment Extraction/preprocessed_test.pkl','wb') as f:
     pickle.dump(test,f)

In [ ]:
with open('/content/drive//My Drive/Tweet Sentiment Extraction/preprocessed_train.pkl','rb') as f:
     train=pickle.load(f)

In [ ]:
#https://www.w3schools.com/python/ref_string_index.asp
def start_index(x):
    text=x[0]
    selected=x[1]
    text=text.split()
    selected=selected.split()
    word=selected[0]
    index=text.index(word)
    return index

In [ ]:
train['start_index']=train[['text','selected_text']].apply(lambda x: start_index(x),axis=1)

In [ ]:
#https://www.w3schools.com/python/ref_string_index.asp
def end_index(x):
    text=x[0]
    selected=x[1]
    start_index=x[2] 
    text=text.split()
    selected= selected.split()
    word=selected[-1]
    try:
        index=text.index(word,start_index)
    except:
        index=text.index(word)
    return index

In [ ]:
train['end_index']=train[['text','selected_text','start_index']].apply(lambda x: end_index(x),axis=1)

In [ ]:
train

           textID  ... end_index
0      cb774db0d1  ...         6
1      549e992a42  ...         1
2      088c60f138  ...         4
3      9642c003ef  ...         4
4      358bd9e861  ...         2
...           ...  ...       ...
27465  4eac33d1c0  ...         9
27466  4f4c4fc327  ...        14
27467  f67aae2310  ...         5
27468  ed167662a5  ...         5
27469  6f7127d9d7  ...         9

[27470 rows x 7 columns]

In [ ]:
train[train.start_index > train.end_index]

           textID  ... end_index
708    48096285e5  ...         5
1104   5419aaf31e  ...         8
1279   adac9ee2e1  ...         5
1361   4eec486ad7  ...         0
1374   eadba04b8a  ...        13
...           ...  ...       ...
25276  2e3afc2394  ...         4
25997  6417912691  ...         2
26150  e137ff5246  ...         0
26347  aa3b4edd5e  ...        12
26522  2fd0de39b2  ...         2

[89 rows x 7 columns]

In [ ]:
train=train[train.start_index <= train.end_index]

In [ ]:
train[train.start_index > train.end_index]

Empty DataFrame
Columns: [textID, text, selected_text, sentiment, spelling, start_index, end_index]
Index: []

In [ ]:
train.reset_index(inplace=True)

In [ ]:
train.drop(['index'],inplace=True,axis=1)

In [ ]:
train.shape

(27381, 7)

In [ ]:
train

           textID  ... end_index
0      cb774db0d1  ...         6
1      549e992a42  ...         1
2      088c60f138  ...         4
3      9642c003ef  ...         4
4      358bd9e861  ...         2
...           ...  ...       ...
27376  4eac33d1c0  ...         9
27377  4f4c4fc327  ...        14
27378  f67aae2310  ...         5
27379  ed167662a5  ...         5
27380  6f7127d9d7  ...         9

[27381 rows x 7 columns]

In [ ]:
with open('/content/drive//My Drive/Tweet Sentiment Extraction/updated_train.pkl','wb') as f:
     pickle.dump(train,f)